name: Detekt

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/**'
      - '!app/src/main/res'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'app/**'
      - '!app/src/main/res'
  workflow_dispatch:

jobs:
  scan:
    name: Code scanning
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Run Detekt
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: wrapper
          arguments: detekt
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        if: success() || failure()
        with:
          sarif_file: app/build/reports/detekt/detekt.sarif
